.form-control{
    display: inline;
    width: 30%;
}

body{
    padding: 30px;
    background-color:	#FFF0F5 ;
}
form{
    display: flex;
    align-items: center;
    justify-content: center;
   
}
a{
    text-decoration: none;
}

.gallery{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px;
}
.photo-card{
width: 30rem;
height:30rem;


}
.overflow{
    border-radius: 30px;
    overflow: hidden;
}
.card-image{
width: 100%;
height: 400px;

transition: transform 400ms ease-out
}
.card-image:hover{
    transform: scale(1.15);
}
.info{
    display: flex;
    align-items: center;
    justify-content: center;
    color: black ;

}
.info-item{
    display: flex;
   
    
    flex-direction: column;
    margin-right: 2rem;
}